.slide-container {
    width: 100%;
    margin: 0; }
  
.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: fill;
    background-size: cover;
    height: 51vh;
  }
  
  .each-slide span {
    padding: 0px;
    font-size: 0px;
    background: #9f7aea;
    text-align: center;
  }
  
  .each-fade {
    display: flex;
  }
  
  .each-fade .image-container {
    width: 100%;
    overflow: hidden;
  }
  
  .each-fade .image-container img {
    width: 100%;
  }
  
  .each-fade h2 {
    width: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #9f7aea;
  }